@import '../variables.scss';

.root {

}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
  align-content: center;

}

.cardStyle {
  display: inline;
  margin: 24px;
  margin-top: 2px;
  transition-duration: 0.3s;
  text-align: center;
}


.dropdownStyle {
    width: 200px;
}

.textStyle {

  text-align: center;

}


