@import '../variables.scss';

.root {

}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
  align-items: center;
}

.card{
  padding: 0 0 100px;
}

.cardStyle {
  display: inline-block;
  margin: 24px;
  margintop: 2px;
  transitionDuration: 0.3s;
  textAlign: centre;
}


.dropdownStyle {
  customWidth: {
    width: 200;
  }
}

.textStyle {

  text-align: center;

}


